<h1>Rate-a-Restaurant</h1>
<h5>The worst restaurant rating application on GitHub</h5>
<p>Witht this app, you can add information about your favorite restaurant, why you like it, describe it, rate it. The reason why this application is so horrible is because once you close the application, all the data will be gone!</p>
<button class="waves-effect pink btn-large"><%= link_to 'Click here to view restaurants', restaurants_path %></button>
